/* --- 푸터 영역 --- */
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1E1E;
    border-top: 1px solid #3A3A3C;
    font-family: 'BMDOHYEON', sans-serif;
}
.footer-left, .footer-center, .footer-right {
    flex: 1; display: flex;
    align-items: center;
}
.footer-left {
    justify-content: flex-start;
    gap: 15px;
}
.footer-center {
    justify-content: center;
    gap : 10px;
}
.footer-right { justify-content: flex-end; }